.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.logo_section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}