.table_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border: 1px solid #454548;
    border-radius: 1rem;
}

.table_section{
    width: 100%;
    border-collapse: collapse;
}

.token_name_styles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    max-width: 250px;
}

.token_name_styles p{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.token_name_styles p span{
    color: var(--color-font-secondary)
}

.table_section thead tr th{
    color: var(--color-font-secondary);
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    padding: 1rem 1rem;
    background-color: var(--color-secondary-background);
}

/* .table_section thead tr {
    border-radius: 1rem 1rem 0 0;
} */

.table_section tbody tr td{
    color: var(--color-font-secondary);
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    padding: 0.25rem 1rem;
}

.table_section thead tr :nth-child(1) {
    width: 20%;
    border-radius: 1rem 0 0 0;
}

.table_section thead tr :nth-child(2){
    width: 15%;
}
.table_section thead tr :nth-child(3),
.table_section tbody tr :nth-child(3) {
    width: 15%;
}
.table_section thead tr :nth-child(4),
.table_section tbody tr :nth-child(4) {
    width: 15%;
}
.table_section thead tr :nth-child(5),
.table_section tbody tr :nth-child(5) {
    width: 15%;
}
.table_section thead tr :nth-child(6),
.table_section tbody tr :nth-child(6) {
    width: 15%;
}
.table_section thead tr :nth-child(7),
.table_section tbody tr :nth-child(7) {
    width: 10%;
    border-radius: 0 1rem 0 0;
}
